<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="page-header">
    <h1>
      Welcome to <span>{{ title || 'World' }}</span>!
    </h1>
  </div>
  <div class="jumbotron">
    <input type="text" [(ngModel)]="title" placeholder="name"
      class="form-control form-control-sm">
  </div>
  <div class="row">
    <div class="col-md-12 table-bordered">
      <div class="product-menu">Logo and Menu</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 table-bordered">
      <img class="img-fluid center-block product-item"
        src="http://placehold.it/1110x480" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <img class="card-img-top center-block product-item"
          src="http://placehold.it/270x171" alt="Bakery">
        <div class="card-block">
          <h4 class="card-title">Bakery</h4>
          <p class="card-text">The best cupcakes, cookies, cakes,
            pies, cheesecakes, fresh bread,
            biscotti, muffins, bagels, fresh coffee
            and more.</p>
          <a href="#" class="btn btn-primary">Browse</a>
        </div>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <img class="card-img-top center-block product-item"
          src="http://placehold.it/270x171" alt="Bakery">
        <div class="card-block">
          <h4 class="card-title">Bakery</h4>
          <p class="card-text">The best cupcakes, cookies, cakes,
            pies, cheesecakes, fresh bread,
            biscotti, muffins, bagels, fresh coffee
            and more.</p>
          <a href="#" class="btn btn-primary">Browse</a>
        </div>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <img class="card-img-top center-block product-item"
          src="http://placehold.it/270x171" alt="Bakery">
        <div class="card-block">
          <h4 class="card-title">Bakery</h4>
          <p class="card-text">The best cupcakes, cookies, cakes,
            pies, cheesecakes, fresh bread,
            biscotti, muffins, bagels, fresh coffee
            and more.</p>
          <a href="#" class="btn btn-primary">Browse</a>
        </div>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
      <a href="#">
        <img class="img-fluid center-block product-item"
          src="http://placehold.it/270x171" alt="">
      </a>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
      <a href="#">
        <img class="img-fluid center-block product-item"
          src="http://placehold.it/270x171" alt="">
      </a>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
      <a href="#">
        <img class="img-fluid center-block product-item"
          src="http://placehold.it/270x171" alt="">
      </a>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
      <a href="#">
        <img class="img-fluid center-block product-item"
          src="http://placehold.it/270x171" alt="">
      </a>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
      <a href="#">
        <img class="img-fluid center-block product-item"
          src="http://placehold.it/270x171" alt="">
      </a>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
      <a href="#">
        <img class="img-fluid center-block product-item"
          src="http://placehold.it/270x171" alt="">
      </a>
    </div>
    <!-- /.col -->
  </div>
</div>
<router-outlet></router-outlet>
